header {
  text-align: center;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

main li {
  color: black;
}

main li:hover {
  color: rgb(25, 5, 109);
  font-size: 22px;
  text-decoration: underline;
}

main dt {
  font-size: 18px;
}

main dt:hover {
  font-size: 18px;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 193, 193);
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

.todo_lists {
  width: 480px;
  background-color: lightgray;
  border: 1px solid black;
}

.create_todo {
  width: 480px;
  background-color: lightgray;
  border: 1px solid black;
}
