header {
  text-align: center;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.buttons {
  width: 100px;
  height: 38px;
  margin-left: 0px;
  font-size: 25px;
}

.buttons:hover {
  background-color: dimgray;
  color: aliceblue;
}

.heading table {
  text-align: center;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 193, 193);
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

.todo_lists {
  width: 480px;
  background-color: lightgray;
  border: 1px solid black;
  padding: 5px;
}

.todo_lists table {
  position: relative;
  width: 100%;
  margin: 10px;
}

.todo_lists td {
  color: black;
}

.todo_lists td:hover {
  color: rgb(25, 5, 109);
  font-size: 22px;
  text-decoration: underline;
}

.create_todo {
  width: 480px;
  background-color: lightgray;
  border: 1px solid black;
  padding: 5px;
}
